.banner{
}
.video{
    font-size: 22px;
    margin: 10px;
    color: gray;
}
.online{
    font-size: 60px;
}
.p-text{
    font-size: 22px;
    line-height: 25px;
}
.image{
    text-decoration: none;
    padding: 0 20px;
    border: 2px solid white;
    border-radius: 500px;
    background: rgba(226, 213, 252, 0.8);
}
.image img{
    max-width: 30px;
    height: 30px;
    border-radius: 50%;
}
.btn-one{
    font-size: 20px;
    border: none;
    border-radius: 500px;
    padding: 20px 30px;
    color: white;
    background-image: linear-gradient(to right, #b966e7, #b966e7, #2f57ef,  #2f57ef);
}
.btn-two{
    font-size: 20px;
    border: none;
    border-radius: 500px;
    padding: 15px 30px;
    background-color: white;
    background-image: linear-gradient(to right, white);
}
.btn-two:hover{
    background-color: #2f57ef;
    color: white;
}
.btn-one:hover{
    background-image: linear-gradient(to left, #b966e7, #b966e7, #2f57ef,  #2f57ef);
}
.video-img img{
    border-radius: 8px;
    width: 100%;
}

